<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log In</title>
  <link href="{{url_for('static', filename='/img/cyber-security.png')}}" rel="icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='/css/login.css')}}"></link>
</head> 
<body>
  <section>
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <!-- Left Section -->
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
                  <div class="text-center">
                    <a href="{{ url_for('index') }}">
                      <img src="{{ url_for('static', filename='/img/cyber-security_2.png') }}" style="width: 185px;" alt="logo">
                    </a>
                    <h1 class="mt-1 mb-5 pb-1">Safe Pass</h1>
                  </div>

                  <!-- Login Form -->
                  <form action="{{ url_for('login') }}" method="POST">
                    <p>Please login to your account</p>

                    <!-- Username Input -->
                    <div class="form-outline mb-4">
                      <label class="form-label" for="username">Username</label>
                      <input type="email" id="username" name="username" class="form-control" placeholder="Enter Your Email Address" required />
                    </div>

                    <!-- Password Input -->
                    <div class="form-outline mb-4">
                      <label class="form-label" for="password">Password</label>
                      <input type="password" id="password" name="password" class="form-control" required />
                    </div>

                    <!-- Login Button -->
                    <div class="text-center pt-1 mb-5 pb-1">
                      <button id="loginButton" class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">
                        Log in
                      </button>

                      <a class="text-muted" href="{{ url_for('reset_password') }}">Forgot password?</a>
                    </div>

                    <!-- Create Account Button -->
                    <div class="d-flex align-items-center justify-content-center pb-4">
                      <p class="mb-0 me-2">Don't have an account?</p>
                      <a href="{{ url_for('register') }}" class="btn btn-outline-danger">Create new</a>
                    </div>
                  </form>
                </div>
              </div>

              <!-- Right Section -->
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4">We are more than just a password manager</h4>
                  <p class="small mb-0">
                    Say goodbye to password-related stress and security breaches with this revolutionary tool. Safely store and 
                    manage all your passwords with military-grade encryption, ensuring top-notch protection for your sensitive data. 
                    Enjoy the convenience of generating and accessing strong, unique passwords across all your devices effortlessly.
                     Enhance your online experience with seamless password management and bid farewell to the hassle of remembering 
                     multiple logins. Elevate your cybersecurity game today with Safe Pass.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>