<!doctype html>
<html lang="en">
  <head>
  	<title>User Settings</title>
	<link href="{{url_for('static', filename='/img/cyber-security.png')}}" rel="icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{{url_for('static', filename='css/dashboard.css')}}">
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>
				<div class="p-4">
		  		<h1><a href="{{url_for('index')}}" class="logo">Safe Pass<span>Password Manager</span></a></h1>
	        <ul class="list-unstyled components mb-5">

	          <li>
	            <a href="{{url_for('dashboard')}}"><span class="fa fa-shield mr-3"></span>Security Dashboard</a>
	          </li>
			  <li>
				<a href="{{url_for('passwords')}}"><span class="fa fa-key mr-3"></span>Passwords</a>
				</li>
			  <li>
	              <a href="{{url_for('cards')}}"><span class="fa fa-credit-card mr-3"></span>Bank Cards</a>
	          </li>
	          <li>
              <a href="{{url_for('notes')}}"><span class="fa fa-sticky-note mr-3"></span>Notes</a>
	          </li>
	          <li class="active">
              <a href="{{url_for('settings')}}"><span class="fa fa-cog mr-3"></span>Account Settings</a>
	          </li>
	          <li>
              <a href="{{url_for('help')}}"><span class="fa fa-question-circle mr-3"></span> Help</a>
	          </li>
			  <li>
				<a href="{{url_for('terms')}}"><span class="fa fa-file-text mr-3"></span>Terms & Conditions</a>
			</li>
	          <li>
              <a href="{{url_for('logout')}}"><span class="fa fa-sign-out mr-3"></span>Logout</a>
	          </li>
	        </ul>

	        <div class="mb-5">
	          </form>
					</div>

	        <div class="footer">
	        	<p>
					<p>© <span>Copyright</span> <strong class="px-1 sitename">Safe Pass</strong> <span>All Rights Reserved</span></p>
				</p>
	        </div>

	      </div>
    	</nav>

        <!-- Page Content  -->
		<div class="container-fluid">
			<div class="card w-75 mx-auto">


				
				<!-- Navbar inside the card -->
				<div class="card-header d-flex justify-content-between align-items-center">
					<h5 class="m-0">Account Settings</h5>
					
				</div>
		
				<!-- Card Body -->
				<div class="card-body">
					<p>Account Email</p>
					<p>Master Password</p>
					<p>Never URLS</p>
					<p>Delete Account</p>
					<p>Change Password</p>
				</div>
			</div>
		</div>






		</div>
		
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/popper.js'	)}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js'	)}}"></script>
    <script src="{{url_for('static', filename='js/dashboard.js')}}"></script>
  </body>
</html>